<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sample Biztera Integration</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
      .container {
        background-color: #fff;
        min-height: 300px;
        margin-top: 20px;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
      }
      @media (max-width: 767px) {
        body {
          background-color: #fff;
        }
        .container {
          margin-top: 0;
        }
      }
      body {
        background-color: #d9edf7;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Sample Biztera Integration</h1>
        <a href="https://github.com/biztera/biztera-app-sample"><i class="fa fa-github"></i> GitHub</a>
      </header>
      <hr/>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
